<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xb3group.com.nutritionfreak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:title = "Nutrition Freak"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileSetUp"
            android:label="@string/title_activity_profile_set_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mealPlanOfTheDayActivity"
            android:label="@string/title_activity_meal_plan_of_the_day"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".searchingActivity"
            android:label="@string/title_activity_searching"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
